# Bundled Include
include/extern

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compilation DB
compile_commands.json
.cache

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Examples
example/basic
example/server
example/client
example/debugging

# Python Virtual Environment
.venv

# Python bindings
python_bindings/UNKNOWN.egg-info/
python_bindings/build/
python_bindings/dist/