body {
  margin: 0;
}
canvas {
  margin: 0;
}
div {
  margin: 0;
}

body.darktheme {
  color: green;
  background-color: black;
}
body.lighttheme {
  background-color: white;
}

.top_bar {
  position: absolute
}

button {
  font-weight: 800;
  min-height: 2em;
  width: 8em;
  text-transform: capitalize;
}

.darktheme button {
  background-color: black;
  color: green;
  border-color: green;
}

.lighttheme button {
  background-color: white;
  border-color: gray;
}

input {
  background-color: transparent;
  height: 2em;
  border: 0px;
}

.darktheme input {
  color: green;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
}

/* Match parent button width */
.dropdown-content > button {
  width: 100%;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.toggle_options {
  position: absolute;
  top: 10%;
  right: 1%;
  width: 6em;
  padding: 1em;
  display: none;
}

.toggle_options_mc {
  position: absolute;
  top: 10%;
  left: 0;
  width: 6em;
  padding: 1em;
  display: none;
}

.quit_message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 6em;
  border: 2px green solid;
  padding: 1em;
  background-color: black;
  font-size: 2em;
  display: none;
  opacity: 0;
}

.label {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%); /* center */
}

.darktheme .label {
  color: white;
}
.lighttheme .label {
  color: black;
}
